<div class="form">
    <p>Ready to cook?</p>
    <p>Sing up for Weekly newsletters!</p>

    <form method="GET" action="#" class="newletters-form">
        <input type="text" placeholder="Enter your name" name="name" autocomplete="name">
        <input type="email" placeholder="Enter your email" name="email" autocomplete="email">
        <input type="submit" value="SING UP" class="btn">
    </form>
</div>
<div>
    <ul class="ul-normalize nav-menu menu-footer">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/explore/index.html">Explore</a></li>
        <li><a href="/my_recipies/index.html">My Recipies</a></li>
        <li><a href="/search/index.html">Search</a></li>
    </ul>
</div>
<div class="social">
    <p>Lets Be Friend!</p>

    <div class="social-media-links">
        <img src="/images/footer-icons/facebook.webp" alt="Facebook icon and link to social media" loading="lazy" width="30" height="30">
        <img src="/images/footer-icons/instagram.webp" alt="Instagram icon and link to social media" loading="lazy" width="30" height="30">
        <img src="/images/footer-icons/pinterest.webp" alt="Pinterest icon and link to social media" loading="lazy" width="30" height="30">
        <img src="/images/footer-icons/tik-tok.webp" alt="Tiktok icon and link to social media" loading="lazy" width="30" height="30">
        <img src="/images/footer-icons/youtube.webp" alt="Youtube icon and link to social media" loading="lazy" width="30" height="30">
        <img src="/images/footer-icons/X.webp" alt="X icon and link to social media" loading="lazy" width="30" height="30">
    </div>
</div>