<img class="logo" src="/images/logo/tastyEats.webp" alt="Tasty Eats official logo" width="200" height="200" loading="lazy">

<div>
    <nav class="menu">
        <ul class="ul-normalize nav-menu">
            <li><a href="/index.html" id="home-a">Home</a></li>
            <li><a href="/explore/index.html" class="explore-a">Explore</a></li>
            <li><a href="/my_recipies/index.html" class="myrecipies-a">My Recipies</a></li>
            <li><a href="/search/index.html" class="search-a">Search</a></li>
        </ul>
    </nav>
</div>

<button id="ham-menu" aria-label="Menu button"></button>