<img class="logo" src="/images/logo/tastyEats.webp" alt="Tasty Eats official logo" width="200" height="200" loading="lazy">

<div>
    <nav class="menu">
        <ul class="ul-normalize nav-menu">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/explore/index.html">Explore</a></li>
            <li><a href="/my_recipies/index.html">My Recipies</a></li>
            <li><a href="/search/index.html">Search</a></li>
        </ul>
    </nav>
</div>

<button id="ham-menu" aria-label="Menu button"></button>